<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <ng-template [ngIf]="!isAuthenticated()">
              <li><a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Register</a></li>
              <li><a [routerLink]="['/signin']" routerLinkActive="router-link-active" >Sign In</a></li>
          </ng-template>

          <li class="dropdown" appDropdown *ngIf="isAuthenticated()" >
              <a style="cursor: pointer"class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                  <li><a style="cursor: pointer;" (click)="onGetData()">Fetch Data</a></li>
              </ul>
          </li>
        </ul>
    </div>
</div>
</nav>
